#ul1 {
    list-style-type: circle;
    list-style-position: outside;
    width:100px;
}
#ul2{
    list-style-type: circle;
    list-style-position: inside;
    width:100px;
}
#ul3{
    list-style-image:url(flame.png);
    list-style-position: inside;
}
#ol1{
    list-style-type: none;
}
#ol2{
    list-style-type: none;
    margin:0;
    padding:0;
}
#ol3{
    list-style: inside upper-roman;
    width:100px;
}
#ul4 li{
    background: aqua;
    padding: 20px;
}
#ol4{
    background: pink;
    padding:30px
}

#ol4 li:hover {
    background: aqua;
    font-size: 20px;
    color:red
}